<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343295414565-vr2noki0jr0fujntddpf8p8b5fa12p52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343295414565-vr2noki0jr0fujntddpf8p8b5fa12p52</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>343295414565-jn4gu5u7ia32tm5if028ucke6325q15l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3nXfQrlg6GdGxLkBPZD0DoY7-rgF7ZSM</string>
	<key>GCM_SENDER_ID</key>
	<string>343295414565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hrms</string>
	<key>PROJECT_ID</key>
	<string>businesscard-6f5c4</string>
	<key>STORAGE_BUCKET</key>
	<string>businesscard-6f5c4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343295414565:ios:723a81a3aeebe655e70acc</string>
	<key>DATABASE_URL</key>
	<string>https://businesscard-6f5c4-default-rtdb.firebaseio.com</string>
</dict>
</plist>